/* Estilo general */
body {
  font-family: Arial, sans-serif;
  background-color: #f6f8fa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

/* Contenedor principal */
.result-container {
  background-color: #ffffff;
  padding: 2em;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 60%;
  max-width: 800px;
  text-align: center;
  margin-top: 30px;
}

/* Título */
.result-container h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: #333333;
}

/* Texto de información */
.info-text {
  font-size: 1em;
  color: #666666;
  margin-bottom: 1em;
}

/* Tabla de conversión */
.conversion-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
  font-size: 1.1em;
}

.conversion-table th,
.conversion-table td {
  padding: 1em;
  border: 1px solid #cccccc;
  text-align: center;
}

.conversion-table th {
  background-color: #0070ba; /* Azul estilo PayPal */
  color: white;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.conversion-table td {
  background-color: #f9f9f9;
  color: #333333;
}

.conversion-table tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

.conversion-table tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

/* Botón de Volver */
.back-button {
  display: inline-block;
  margin-top: 20px;
  padding: 0.8em 2em;
  font-size: 1.1em;
  font-weight: bold;
  color: #ffffff;
  background-color: #0070ba; /* Azul estilo PayPal */
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #005fa3; /* Color más oscuro al hacer hover */
}


/* Definición de la animación */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Aplicación de la animación al body */
body {
  animation: fadeIn 1s ease-in-out;
  opacity: 0; /* Comienza transparente */
  animation-fill-mode: forwards; /* Mantiene el estado final de la opacidad */
}